
div img {
    width: 200px;
    height: 200px;
    background:#d4d8d8;
}

.col-sm-6{
   width: 200px;
   left: 20px;
}
.a{
    position: absolute;
    right:0;
    top: 14%;
    margin-right: 210px;
 }
 
 .b{
    position: absolute;
    right:0;
    top: 24%;
    margin-right: 210px;
 }

 
 
 .nut button{
    padding-left: 25px;
    padding-right: 25px;
 }
 
 .nut button:first-child{
    margin-left: 84%; 
 }
 
 .container{
     max-width: 540px;
 }
 
 