.wrapper {
    font-size: 1.2em;
    /*  width: 25em;*/
    left: 50%;
    top: 50%;

}
.container {
    width: 100%;
    display: flex;

    justify-content: space-evenly;
}
.fa-star {
   
    font-size: 2em;
    color: #ffd700;
}
.number {
    display: block;
    text-align: center;
}
#submit {
    display: block;
    position: relative;
    background: linear-gradient(#fe3b5a, #fd7914);
    border: none;
    padding: 0.5em 1em;
    color: #ffffff;
    font-size: 1em;
    border-radius: 1.5em;
    margin: 1em auto 0 auto;
    cursor: pointer;
}
#submit:disabled {
    cursor: not-allowed;
}
#message {
    text-align: center;
    margin-bottom: 2em;
}
#submit-section {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    top: 0;
    left: 0;
    place-items: center;
    border-radius: 0.5em;
}
.hide {
    display: none;
}
.show {
    display: grid;
}
