

.advanced{

    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
}


.btn-secondary,
.btn-secondary:focus,
.btn-secondary:active


{
    color: #fff;
    background-color: #00838f !important;
    border-color: #00838f !important;
    box-shadow: none;
}


.advanced{

    color: #00838f !important;
}

.form-control:focus{
    box-shadow: none;
    border: 1px solid #00838f;
}
/*tim*/
/*viec lam TUYEN GAP*/

.hover-job:hover{
   border: 1px solid #0050d8 !important;
   box-shadow: 0px 0px 4px #0050d8 !important;
}


.rounded {
    border-radius: 5px !important;
}
.bg-light {
    background-color: #f7f8fa !important;
}

.badge {
    padding: 5px 8px;
    border-radius: 3px;
    letter-spacing: 0.5px;
    font-size: 12px;
}

.btn {
    padding: 8px 20px;
    outline: none;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 0.5px;
    transition: all 0.3s;
    font-weight: 600;
    border-radius: 5px;
}


a {
    text-decoration:none;
}

/*NGÀNH NGHỀ NỔI BẬT*/
.our-team-main
{
    width:100%;
    height:auto;
    border-bottom:5px #323233 solid;
    background:#fff;
    text-align:center;
    border-radius:10px;
    overflow:hidden;
    position:relative;
    transition:0.5s;
/*    margin-bottom:28px;*/
}


.our-team-main img
{
    border-radius:50%;
    margin-bottom:20px;
    width: 100px;
}

.our-team-main h3
{
    font-size:20px;
    font-weight:700;
}

.our-team-main p
{
    margin-bottom:0;
}

.team-back
{
    width:100%;
    height:auto;
    position:absolute;
    top:0;
    left:0;
    padding:5px 15px 0 15px;
    text-align:left;
/*    background:#fff;*/

}

.team-front
{
    width:100%;
    height:auto;
    position:relative;
    z-index:10;
    background:#fff;
    padding:15px;
    bottom:0px;
    transition: all 0.5s ease;
}

.our-team-main:hover .team-front
{
    bottom:-200px;
    transition: all 0.5s ease;
}

.our-team-main:hover
{
    border-color:#777;
    transition:0.5s;
}
/*doanh nghiep tot nhat*/

.p-15px {
    padding: 15px;
}
.border-color-gray {
    border-color:#0050d8;
}
.border-all-1 {
    border: 1px solid;
}
.hover-top {
    position: relative;
    top: 0;
}
.m-15px-tb {
    margin-top: 15px;
    margin-bottom: 15px;
}
/*.overlay-link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 0;
}*/
.border-radius-50 {
    border-radius: 50%;
}
.photohinh{
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 21px;
}

.sao{
font-size: 20px;
    color:#ffff00 ;
}
.p-20px-l {
    padding-left: 20px;
}
.p-10px-lr {
    padding-left: 10px;
    padding-right: 10px;
}
.p-0px-tb {
    padding-top: 0px;
    padding-bottom: 0px;
}
.border-radius-15 {
    border-radius: 15px;
}

.m-0px {
    margin: 0px;
}
.font-small {
    font-size: .75rem;
    line-height: 1rem;
}


.body-bg-alt {
  background-color: rgba(113, 128, 150, 0.1);
}

.body-bg {
  background-color: #718096;
}

.body-after:after {
  background-color: #718096;
}

.body-before:before {
  background-color: #718096;
}

.body-color-alt {
  color: rgba(113, 128, 150, 0.65);
}

.body-color {
  color: #718096;
}

.white-color-light {
  color: rgba(255, 255, 255, 0.65);
}

.bg-transparent {
  background-color: transparent;
}


.box-shadow-only-hover:hover {
  
   box-shadow: 0px 0px 4px #0050d8 !important;

}
.border-color-gray {
    border-color: #dfe7f1 !important;
}
.border-all-1 {
    border: 1px solid;
}
